body {
  background: white;
  color: black;
  font-family: arial,sans-serif;
  margin: 0;
  padding: 1ex;
}

div.fragment { 
	width: 98%;
	border: 1px solid #CCCCCC;
	background-color: #FCFCDC;
	padding-left: 4px;
	margin: 4px;
}

div.box { 
	width: 98%;
	background-color: #F5F5F5;
	border: 1px solid #CCCCCC;
	color: black;
	padding: 4px;
}

div.line:target {
    border: 4px solid #D7D7BB;
    background-color: #D7D7BB;
}

.description {
	white-space: pre-wrap;
	color: #228B22;
}

.comment {
	color: #228B22;
}
.string {
	color: #A020F0;
}
.keyword { 
	color: #0000FF;
}

.keywordtype { color: #604020; }
.keywordflow { color: #e08000; }
.preprocessor { color: #806020; }
.stringliteral { color: #002080; }
.charliteral { color: #008080; }

a {
	text-decoration: none; 
}

a:hover {
	background-color: #006699;
	color:#FFFFFF;
}

a.code {
	font-weight: normal; 
	color: #C45400;
}

a.code:hover {
	background-color: #C45400;
	color: #FFFFFF;
}	

a.param {
    font-weight: normal;
    color: #00B0C0;
}

a.param:hover {
    background-color: #00B0C0;
    color: #FFFFFF;
}

h1 {
	background: transparent;
	color: #006699;
	font-size: x-large;
	text-align: center;
}

h2 {
	background: transparent;
	color: #006699;
	font-size: large;
}

address {
	font-size:small;
}

form.search {
	margin-bottom: 0px;
	margin-top: 0px;
}
input.search {
	font-size: 75%;
	color: #000080;
	font-weight: normal;
	background-color: #eeeeff;
}

li {
    padding-left:5px;
}
